
body {
    background-color: #073642;
    color: #b58900;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
}

.body{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    z-index: 10;
    background-color: #fdf6e3;
    border-radius: 20px;
    margin-top: 100px;
    width: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
}

.game .container {
    padding: 5px;
    padding-top: 0;
}

.title {
    background-color: #00222b;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius:  20px;
    font-size: 30px;
    font-weight: bolder;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    width: 400px;
    margin: auto;
}

.scoreboard {
    background-color: #00222b;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius:  20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: auto;
    width: 300px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: #d33682;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
}

.score {
    font-size: 30px;
    font-weight: bold;
    color: #2aa198;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
}

.choicecontainer {
    color: #002b36;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.choicecontainer .choices {
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
}

.rock, .paper, .scissors {
    padding: 5px;
}

.hideme {
    /* visibility: hidden; */
}

.results .choices {
    color: #002b36;
    background-color: #fdf6e3;
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    margin-bottom: 10px;
    width: 400px;
}

.results .choices img{
    width: 150px;
}

.divider {
    font-size: 48px;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.outcome {
    color: #002b36;
    font-size: 36px;
    font-weight: bolder;
}

.match {
    z-index: 9;
    background-color: #fdf6e3;
    color: #002b36;
    font-size: 48px;
    font-weight: bolder;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -250px;
    width: 500px;
    height: 150px;
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #002b36;
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.designedby {
    text-align: left;
}

.attribution {
    text-align: right;
}

a {
    color: #dc322f;
}

img {
    width: 200px;
}

.button {
    background-color: #eee8d5;
    border: 0px;
    border-radius: 20px;
    padding: 5px;
    color: #002b36;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

.button:hover{
    transition: transform .2s;
    transform: scale(1.1);
}

.button:active{
    transition: transform .1s;
    transform: scale(1);
}